.links{
    color: whitesmoke;
    text-decoration: none;
}

.app-bar{
    background-color: #0070EB;
}

.dashboard_link{
    color: #0D3A66;
    text-decoration: none;
}

.side_bar{
    background-color: #0656A8;
    color: #F7F7F7;
}